<div class="card">
    <div class="card-header"> 
        <h5>Number of frontier nodes: {{frontierNodes.queue.length}}</h5>
        <h5 class="m-0">
            Exploration of paths of length {{minLengthExploredPath()}} to {{maxLengthExploredPath()}}
        </h5>
    </div>
    <div class="card-body p-0 d-flex ">
        <button *ngFor="let task of frontierNodes.queue" 
            class="btn m-2 col-3 d-flex align-items-center justify-content-center"
            [ngStyle]="{'background-color': getBackgroundColor(task)}"
            (click)="explainRewriting(task)">
            query-{{task.name}}
        </button>
    </div>
</div>