
<div class="container-fluid p-5">

    <div class="row m-0 mb-2">
        <app-query-editor class="col-12 p-0"></app-query-editor>
    </div>

    <div class="row m-0 mb-2">
        <div class="col-12 p-0">
            <app-waiting-queries></app-waiting-queries>
        </div>
    </div>

    <div class="row m-0 mb-2">
        <div class="col-12 p-0">
            <app-query-progress></app-query-progress>
        </div>
    </div>

    <div class="row m-0 mb-4">
        <button class="btn btn-outline-success col-2" [ngClass]="{'d-none': running}" 
            [disabled]="serverEval.isBusy()" (click)="executeQuery()">
            Execute
        </button>
        <button class="btn btn-outline-primary mr-2 col-2" [ngClass]="{'d-none': !running || frontierNodes.queue.length == 0}" 
            [disabled]="serverEval.isBusy()" (click)="expandFrontierNode()">
            Next
        </button>
        <button class="btn btn-outline-warning col-2" [ngClass]="{'d-none': !running}" 
            (click)="stopQuery()">
            Stop
        </button>
    </div>

    <div class="row m-0 mb-4" *ngIf="spy.nbCalls > 0">
        <div class="p-0 col-12">
            <app-live-statistics></app-live-statistics>
        </div>
    </div>

    <div class="row m-0">
        <router-outlet></router-outlet>
    </div>
    
    <div class="row m-0 mb-4" *ngIf="solutionMappings.results.length > 0">
        <div class="p-0 col-12">
            <app-query-results></app-query-results>  
        </div>
    </div>
    
    <div class="row m-0">
        <div class="p-0 col-12">
            <app-statistics></app-statistics>
        </div>
    </div>

</div>

