<div class="col-12 p-0" *ngIf="parent && task">
    <div class="row m-0">
        <h3>Rewriting details</h3>
    </div>
    <div class="row m-0 d-flex">
        <div class="card p-0 mb-2 col-12 col-lg-6">
            <div class="card-header">
                <h5>Previous query: query-{{parent.name}}</h5>
            </div>
            <div class="card-body p-0">
                <ngx-codemirror #codemirror
                    [options]="codeMirrorOptions"
                    [ngModel]="parent.query">
                </ngx-codemirror>
            </div>
        </div>
        <div class="card p-0 mb-2 col-12 order-lg-3">
            <div class="card-header">
                <h5>Control tuple</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <h4>Path pattern</h4>
                    <span><strong>Identifier: </strong>{{task.controlTuple.path_pattern_id}}</span>
                </div>
                <div class="mb-3">
                    <h4>Frontier node to expand</h4>
                    <span><strong>Node: </strong>{{task.controlTuple.node}}</span>
                    <br>
                    <span><strong>Reached at depth: </strong>{{task.controlTuple.depth}}</span>
                </div>
                <div>
                    <h4>Context</h4>
                    <div id="tableContainer" style="overflow-x: scroll;">
                        <div class="table d-table border">
                            <thead>
                                <tr>
                                    <th *ngFor="let variable of contextVariables()">{{variable}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td *ngFor="let mapping of contextMappings()">{{mapping}}</td>
                                </tr>
                            </tbody>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="card p-0 mb-2 col-12 col-lg-6 order-lg-2" *ngIf="task">
            <div class="card-header">
                <h5>Expanded query: query-{{task.name}}</h5>
            </div>
            <div class="card-body p-0">
                <ngx-codemirror #codemirror
                    [options]="codeMirrorOptions"
                    [ngModel]="task.query">
                </ngx-codemirror>
            </div>
        </div>
    </div>
</div>