<div class="card">
    <div class="card-header">
        <span class="card-title">Statistics</span>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column">
            <div class="row m-0">
                <div id="dataTransferContainer" class="mb-5 col-12" style="height: 370px;"></div>
            </div>
            <div class="row m-0">
                <div id="executionTimeContainer" class="mb-5 col-12 col-lg-6" style="height: 370px;"></div>
                <div id="httpCallsContainer" class="col-12 col-lg-6" style="height: 370px;"></div>
            </div>
        </div>
    </div>
</div>